body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.formulario{
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    border-radius: 15px;
    padding: 50px;
}